<button
  role="switch"
  class="totvs-switch"
  [attr.aria-checked]="isChecked() ? 'true' : 'false'"
  [attr.tabindex]="disabled ? '0' : '1'"
  [attr.aria-disabled]="disabled ? 'true' : 'false'"
  (blur)="onBlur()"
  (focus)="onFocus()"
  (mousedown)="onValueChange($event)"
>
  <div class="totvs-switch__track">
    <div class="totvs-switch__toggle" aria-label="false">
      @if (isChecked()) {
        <svg
          width="1rem"
          height="1rem"
          viewBox="0 0 256 256"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke="currentColor"
            stroke-width="20"
            d="M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z"
          />
        </svg>
      }
    </div>
  </div>
</button>
