.totvs-select {
  --background: var(--color-neutral-light-01);
  --background-hover: var(--color-brand-01-lightest);
  --background-disabled: var(--color-neutral-light-02);

  --color: var(--color-neutral-dark-01);
  --text-color: var(--color-neutral-dark-02);
  --text-color-empty: var(--color-neutral-light-03);

  --color-hover: var(--color-brand-01-dark);
  --color-focused: var(--color-action-default);
  --color-disabled: var(--color-neutral-light-03);

  --outline-color-focused: var(--color-action-focus);

  width: 100%;

  font-family: var(--font-family), sans-serif;
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-normal);

  color: var(--text-color-empty);
  background-color: var(--background);
  padding: 0.6rem 2.5rem 0.6rem 0.4rem;

  border: var(--border-width-sm) solid var(--color);
  border-radius: var(--border-radius-md);
  caret-color: transparent;

  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 256 256' fill='%231d2426' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1.5rem;

  &--selected {
    color: var(--text-color);
  }
  &--error {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 256 256' fill='%23be3e37' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z'%3E%3C/path%3E%3C/svg%3E");
    border-color: var(--color-error);
  }

  &:hover {
    cursor: pointer;
    &:not(.totvs-select--error):not(:disabled):not(:focus) {
      border-color: var(--color-hover);
      background-color: var(--background-hover);
    }
  }

  &:hover:not(.totvs-select--error):not(:disabled),
  &:focus {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 256 256' fill='%235b1c7d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z'%3E%3C/path%3E%3C/svg%3E");
  }

  &:focus {
    color: var(--text-color);
    border-color: var(--color-focused);
    outline: var(--outline-color-focused) solid var(--outline-width);
    outline-offset: 2px;
  }

  &:disabled {
    background-color: var(--background-disabled);
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 256 256' fill='%23b6bdbf' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z'%3E%3C/path%3E%3C/svg%3E");
    border-color: var(--color-disabled);
    cursor: not-allowed;
  }
}
