<select
  class="totvs-select"
  [class]="{
    'totvs-select--selected': !!selectedOption,
    'totvs-select--error': hasError(),
  }"
  [attr.id]="uniqueId()"
  [attr.aria-invalid]="hasError()"
  [attr.aria-label]="ariaLabel()"
  [attr.aria-labelledby]="ariaLabelledBy()"
  [disabled]="disabled"
  [ngModel]="selectedOption"
  (ngModelChange)="onValueChange($event)"
  [compareWith]="compareOptions"
  (blur)="onBlur()"
  (focus)="onFocus()"
>
  <option [ngValue]="null" disabled hidden>{{ placeholder() }}</option>
  @for (option of options(); track option.value) {
    <option [ngValue]="option" [disabled]="option.disabled">
      {{ option.label }}
    </option>
  }
</select>
