<select
  class="totvs-select"
  [class]="{
    'totvs-select--selected': !!selectedOption,
    'totvs-select--error': hasError(),
  }"
  [attr.name]="name()"
  [disabled]="disabled"
  [ngModel]="selectedOption"
  (ngModelChange)="onValueChange($event)"
  [compareWith]="compareOptions"
  (blur)="blur()"
  (focus)="focus()"
>
  <option [ngValue]="null" disabled hidden>{{ placeholder() }}</option>
  @for (option of options(); track option.value) {
    <option [ngValue]="option">
      {{ option.label }}
    </option>
  }
</select>
