@import '@fontsource/roboto';

:root {
  // Font
  --font-family:
    'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Helvetica Neue', Arial, sans-serif;
  --font-size-default: 1rem;
  --font-weight-normal: 400;

  // Colors
  --color-neutral-dark-01: #4a5c60;
  --color-neutral-dark-02: #1d2426;

  --color-neutral-01: #9da7a9;

  --color-neutral-light-00: #ffffff;
  --color-neutral-light-01: #fbfbfb;
  --color-neutral-light-02: #dadedf;
  --color-neutral-light-03: #b6bdbf;

  --color-brand-01-dark: #5b1c7d;
  --color-brand-01-light: #bd94d1;
  --color-brand-01-lightest: #f2eaf6;

  --color-action-focus: #260538;
  --color-action-default: #753399;

  --color-error: #be3e37;

  // Border
  --border-width-sm: 1px;
  --border-width-md: 2px;
  --border-radius-md: 4px;

  // Outline
  --outline-width: 4px;
}

*,
:after,
:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
